In [1]:
import pandas as pd
import numpy as np
import json

## **Recommendations**

In [2]:
recs = pd.read_csv('../data/raw/recommendations.csv')
recs = recs.loc[recs['is_recommended'] == True]
recs.sort_values(by=['date'], inplace=True)
recs

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id
8199271,12210,0,0,2010-10-15,True,97.4,6081899,8199271
19012861,8930,0,0,2010-10-15,True,40.3,1259597,19012861
35839316,17460,0,0,2010-10-15,True,42.7,7167015,35839316
19671479,8980,0,0,2010-10-15,True,214.5,6563365,19671479
12029709,35130,0,0,2010-10-15,True,12.9,7108575,12029709
...,...,...,...,...,...,...,...,...
20665637,238960,0,0,2022-12-31,True,757.5,5801943,20665637
20666031,1238810,0,0,2022-12-31,True,23.5,4671387,20666031
20666307,304430,0,0,2022-12-31,True,6.2,1675889,20666307
20659144,1169040,0,0,2022-12-31,True,8.1,1770915,20659144
20726380,274170,0,0,2022-12-31,True,7.1,12558648,20726380

In [3]:
recs[recs[['app_id', 'user_id']].duplicated(keep=False)].sort_values(by=['app_id', 'user_id'])

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id
16933500,220,0,0,2021-12-07,True,18.8,5276906,16933500
36398854,220,0,0,2021-12-19,True,18.8,5276906,36398854
24170089,440,0,0,2021-12-02,True,658.0,2337188,24170089
24887439,440,0,0,2021-12-04,True,658.0,2337188,24887439
12029093,451020,0,0,2019-11-01,True,98.6,4060169,12029093
12060729,451020,0,0,2019-11-09,True,98.6,4060169,12060729
22874764,570940,0,0,2021-12-02,True,68.0,13711438,22874764
15870898,570940,0,0,2021-12-16,True,68.0,13711438,15870898
20332724,617290,0,0,2019-08-27,True,55.3,2960151,20332724
6259392,617290,3,0,2019-10-11,True,55.3,2960151,6259392
19691801,945360,0,0,2022-06-05,True,15.4,10455472,19691801
17641613,945360,0,0,2022-06-13,True,15.4,10455472,17641613
26644717,1118200,0,0,2022-06-07,True,53.2,2949226,26644717
25753093,1118200,0,0,2022-06-12,True,53.2,2949226,25753093
5521962,1142710,0,0,2022-06-07,True,327.8,11214290,5521962
1398085,1142710,0,0,2022-06-10,True,327.8,11214290,1398085
6142569,1145360,0,0,2022-06-05,True,118.6,11147238,6142569
17705203,1145360,0,0,2022-07-10,True,118.6,11147238,17705203
15098471,1293830,0,0,2021-12-03,True,183.1,3151558,15098471
15098460,1293830,0,0,2021-12-05,True,183.1,3151558,15098460
29165356,1336840,0,0,2021-12-07,True,5.9,5276906,29165356
29106705,1336840,0,0,2021-12-16,True,5.9,5276906,29106705
23765890,1454400,0,0,2021-12-03,True,21.4,2933524,23765890
15321463,1454400,0,0,2021-12-07,True,21.4,2933524,15321463
35961871,1689910,0,0,2022-06-05,True,11.1,10057907,35961871
35695066,1689910,0,0,2022-06-14,True,11.1,10057907,35695066

In [4]:
recs.drop(['helpful', 'funny', 'hours', 'date', 'review_id'], inplace=True, axis=1)
recs.drop_duplicates(subset=['app_id', 'user_id'], ignore_index=True, inplace=True)

Due to computation limits, we need to shorten dataset, 

for that purpose we will consider users with recommendations equal 20

In [5]:
print(len(recs['user_id'].unique()))

user_reviews = recs['user_id'].value_counts(ascending=True)
user_reviews = user_reviews[(user_reviews >= 20) & (user_reviews <= 20)]
user_ids = user_reviews.index

recs = recs[recs['user_id'].isin(user_ids)]

print(len(recs['user_id'].unique()))

12197247
12720

In [6]:
len(recs['user_id'].unique()), len(recs['app_id'].unique())

(12720, 13078)

## **Games**

In [7]:
games = pd.read_csv('../data/raw/games.csv')
games

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
0,13500,Prince of Persia: Warrior Withinâ„¢,2008-11-21,True,False,False,Very Positive,84,2199,9.99,9.99,0.0,True
1,22364,BRINK: Agents of Change,2011-08-03,True,False,False,Positive,85,21,2.99,2.99,0.0,True
2,113020,Monaco: What's Yours Is Mine,2013-04-24,True,True,True,Very Positive,92,3722,14.99,14.99,0.0,True
3,226560,Escape Dead Island,2014-11-18,True,False,False,Mixed,61,873,14.99,14.99,0.0,True
4,249050,Dungeon of the ENDLESSâ„¢,2014-10-27,True,True,False,Very Positive,88,8784,11.99,11.99,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50867,2296380,I Expect You To Die 3: Cog in the Machine,2023-09-28,True,False,False,Very Positive,96,101,22.00,0.00,0.0,True
50868,1272080,PAYDAY 3,2023-09-21,True,False,False,Mostly Negative,38,29458,40.00,0.00,0.0,True
50869,1402110,Eternights,2023-09-11,True,False,False,Very Positive,89,1128,30.00,0.00,0.0,True
50870,2272250,Forgive Me Father 2,2023-10-19,True,False,False,Very Positive,95,82,17.00,0.00,0.0,True
50871,2488510,FatalZone,2023-10-23,True,False,False,Very Positive,88,144,4.00,0.00,0.0,True

In [8]:
print(len(games))
games = games[games['app_id'].isin(recs['app_id'])]
print(len(games))

50872
13078

No duplicated games

In [9]:
games['app_id'].duplicated().sum()

0

Preprocess boolean variables for OS system

In [10]:
print(games['win'].unique(), games['mac'].unique(), games['linux'].unique())

games['win'] = games['win'].apply(lambda x: 'win_' + str(x))
games['mac'] = games['mac'].apply(lambda x: 'mac_' + str(x))
games['linux'] = games['linux'].apply(lambda x: 'linux_' + str(x))

[ True False] [False  True] [False  True]

/var/folders/wp/ll6ymdkx1gg8l2vyp57k2r840000gn/T/ipykernel_44961/544080809.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games['win'] = games['win'].apply(lambda x: 'win_' + str(x))
/var/folders/wp/ll6ymdkx1gg8l2vyp57k2r840000gn/T/ipykernel_44961/544080809.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games['mac'] = games['mac'].apply(lambda x: 'mac_' + str(x))
/var/folders/wp/ll6ymdkx1gg8l2vyp57k2r840000gn/T/ipykernel_44961/544080809.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games['linux'] = games['linux'].apply(lambda x: 'linux_' + str(x))

Ratings are already preprocessed

In [11]:
print(games['rating'].unique())

['Very Positive' 'Mixed' 'Mostly Positive' 'Overwhelmingly Positive'
 'Positive' 'Overwhelmingly Negative' 'Mostly Negative' 'Negative'
 'Very Negative']

Positive_ratio

In [12]:
print(np.sort(games['positive_ratio'].unique()))

games['positive_ratio'] = games['positive_ratio'].apply(lambda x: 'positive_ratio_' + str(x // 10 * 10))
games['positive_ratio'].unique()

[  5   8  10  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26
  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44
  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62
  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80
  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98
  99 100]

/var/folders/wp/ll6ymdkx1gg8l2vyp57k2r840000gn/T/ipykernel_44961/986380359.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games['positive_ratio'] = games['positive_ratio'].apply(lambda x: 'positive_ratio_' + str(x // 10 * 10))

array(['positive_ratio_80', 'positive_ratio_90', 'positive_ratio_60',
       'positive_ratio_70', 'positive_ratio_50', 'positive_ratio_100',
       'positive_ratio_40', 'positive_ratio_10', 'positive_ratio_30',
       'positive_ratio_20', 'positive_ratio_0'], dtype=object)

User_reviews

In [13]:
print(np.sort(games['user_reviews'].unique()))

bins = [0, 10, 100, 10**3, 10**4, 10**5, 10**6, 10**7, float('inf')]

labels = [
    'user_reviews0',
    'user_reviews10',
    'user_reviews100',
    'user_reviews1000',
    'user_reviews10000',
    'user_reviews100000',
    'user_reviews1000000',
    'user_reviews10000000',
]

games['user_reviews'] = pd.cut(games['user_reviews'], bins=bins, labels=labels, right=False)

[     10      11      12 ... 2045628 2217226 7494460]

/var/folders/wp/ll6ymdkx1gg8l2vyp57k2r840000gn/T/ipykernel_44961/216388744.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games['user_reviews'] = pd.cut(games['user_reviews'], bins=bins, labels=labels, right=False)

Price_final

In [14]:
np.set_printoptions(formatter={'float': '{:.2f}'.format})
print(np.sort(games['price_final'].unique()))

bins = [0, 1, 2, 5, 10, 20, 50, float('inf')]

labels = [
    'price<1',
    'price<2',
    'price<5',
    'price<10',
    'price<20',
    'price<50',
    'price>50'
]

games['price'] = pd.cut(games['price_final'], bins=bins, labels=labels, right=False)

[0.00 0.27 0.28 0.29 0.30 0.32 0.34 0.37 0.38 0.39 0.41 0.44 0.49 0.50
 0.51 0.53 0.54 0.55 0.56 0.57 0.59 0.64 0.69 0.71 0.74 0.77 0.79 0.87
 0.89 0.90 0.95 0.98 0.99 1.00 1.04 1.09 1.11 1.19 1.24 1.29 1.34 1.39
 1.49 1.55 1.57 1.59 1.69 1.74 1.79 1.80 1.83 1.87 1.91 1.94 1.97 1.99
 2.00 2.09 2.19 2.24 2.39 2.44 2.49 2.52 2.59 2.69 2.74 2.79 2.84 2.93
 2.99 3.00 3.24 3.29 3.33 3.34 3.35 3.39 3.49 3.59 3.74 3.89 3.95 3.99
 4.00 4.01 4.02 4.04 4.19 4.20 4.24 4.49 4.79 4.89 4.93 4.94 4.99 5.00
 5.09 5.19 5.24 5.29 5.39 5.43 5.49 5.59 5.65 5.69 5.99 6.00 6.19 6.24
 6.39 6.49 6.66 6.74 6.79 6.80 6.89 6.99 7.00 7.19 7.24 7.36 7.49 7.74
 7.79 7.95 7.99 8.00 8.24 8.39 8.44 8.49 8.74 8.88 8.99 9.00 9.09 9.49
 9.59 9.69 9.74 9.79 9.89 9.90 9.99 10.00 10.04 10.19 10.39 10.49 10.99
 11.00 11.19 11.24 11.89 11.99 12.00 12.15 12.49 12.59 12.74 12.99 13.00
 13.13 13.19 13.37 13.49 13.59 13.99 14.00 14.73 14.95 14.99 15.00 15.59
 15.99 16.00 16.24 16.59 16.74 16.99 17.00 17.49 17.77 17.99 18.00 18.74
 18.99 19.00 19.49 19.79 19.90 19.95 19.96 19.99 20.00 20.99 21.00 21.09
 21.59 21.89 21.99 22.00 22.60 22.99 23.99 24.00 24.99 25.00 25.49 26.99
 27.99 29.00 29.99 30.00 31.49 31.99 32.49 34.99 35.00 39.39 39.99 40.00
 44.95 44.99 45.00 49.99 50.00 54.99 59.99 60.00 64.99 69.99 70.00 71.99
 74.99 79.99 80.00 94.99 99.99 114.99 149.00]

/var/folders/wp/ll6ymdkx1gg8l2vyp57k2r840000gn/T/ipykernel_44961/3621376502.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games['price'] = pd.cut(games['price_final'], bins=bins, labels=labels, right=False)

discount

In [15]:
print(np.sort(games['discount'].unique()))

bins = [0, 1, 20, 50, 75, 91]

labels = [
    'discount0',
    'discount<20',
    'discount<50',
    'discount<75',
    'discount<90',
]

games['discount'] = pd.cut(games['discount'], bins=bins, labels=labels, right=False)

[0.00 10.00 15.00 17.00 20.00 21.00 22.00 24.00 25.00 27.00 28.00 30.00
 32.00 33.00 34.00 35.00 36.00 40.00 44.00 45.00 48.00 50.00 51.00 52.00
 54.00 55.00 56.00 58.00 60.00 62.00 65.00 66.00 67.00 69.00 70.00 71.00
 72.00 74.00 75.00 76.00 77.00 78.00 80.00 81.00 82.00 83.00 84.00 85.00
 86.00 87.00 88.00 89.00 90.00]

/var/folders/wp/ll6ymdkx1gg8l2vyp57k2r840000gn/T/ipykernel_44961/2687640268.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games['discount'] = pd.cut(games['discount'], bins=bins, labels=labels, right=False)

steam_deck

In [16]:
print(games['steam_deck'].unique())
games['steam_deck'] = games['steam_deck'].apply(lambda x: 'steam_deck_' + str(x))

[ True False]

/var/folders/wp/ll6ymdkx1gg8l2vyp57k2r840000gn/T/ipykernel_44961/2526135863.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games['steam_deck'] = games['steam_deck'].apply(lambda x: 'steam_deck_' + str(x))

drop unneseccary columns

In [17]:
games.drop(['date_release', 'price_final', 'price_original'], inplace=True, axis=1)

/var/folders/wp/ll6ymdkx1gg8l2vyp57k2r840000gn/T/ipykernel_44961/770013745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games.drop(['date_release', 'price_final', 'price_original'], inplace=True, axis=1)

In [18]:
data = []
with open('../data/raw/games_metadata.json', 'r') as file:
    for line in file:
        dct = json.loads(line)
        dct.pop("description", None)
        if dct['tags']:
            dct['tags'] = ', '.join(dct['tags'])
        else:
            dct['tags'] = 'NoTag'
        data.append(dct)

games_metadata = pd.DataFrame(data)
games_metadata

        app_id                                               tags
0        13500  Action, Adventure, Parkour, Third Person, Grea...
1        22364                                             Action
2       113020  Co-op, Stealth, Indie, Heist, Local Co-Op, Str...
3       226560  Zombies, Adventure, Survival, Action, Third Pe...
4       249050  Roguelike, Strategy, Tower Defense, Pixel Grap...
...        ...                                                ...
50867  2296380                                              NoTag
50868  1272080                                              NoTag
50869  1402110                                              NoTag
50870  2272250  Early Access, FPS, Action, Retro, First-Person...
50871  2488510                                              NoTag

[50872 rows x 2 columns]

In [19]:
merged = pd.merge(games, games_metadata, how='left', on='app_id')
print(merged.isna().sum())
merged

app_id            0
title             0
win               0
mac               0
linux             0
rating            0
positive_ratio    0
user_reviews      0
discount          0
steam_deck        0
price             0
tags              0
dtype: int64

,app_id,title,win,mac,linux,rating,positive_ratio,user_reviews,discount,steam_deck,price,tags
0,13500,Prince of Persia: Warrior Withinâ„¢,win_True,mac_False,linux_False,Very Positive,positive_ratio_80,user_reviews1000,discount0,steam_deck_True,price<10,"Action, Adventure, Parkour, Third Person, Grea..."
1,113020,Monaco: What's Yours Is Mine,win_True,mac_True,linux_True,Very Positive,positive_ratio_90,user_reviews1000,discount0,steam_deck_True,price<20,"Co-op, Stealth, Indie, Heist, Local Co-Op, Str..."
2,226560,Escape Dead Island,win_True,mac_False,linux_False,Mixed,positive_ratio_60,user_reviews100,discount0,steam_deck_True,price<20,"Zombies, Adventure, Survival, Action, Third Pe..."
3,249050,Dungeon of the ENDLESSâ„¢,win_True,mac_True,linux_False,Very Positive,positive_ratio_80,user_reviews1000,discount0,steam_deck_True,price<20,"Roguelike, Strategy, Tower Defense, Pixel Grap..."
4,250180,METAL SLUG 3,win_True,mac_False,linux_False,Very Positive,positive_ratio_90,user_reviews1000,discount0,steam_deck_True,price<10,"Arcade, Classic, Action, Co-op, Side Scroller,..."
...,...,...,...,...,...,...,...,...,...,...,...,...
13073,632470,Disco Elysium - The Final Cut,win_True,mac_True,linux_False,Very Positive,positive_ratio_90,user_reviews10000,discount0,steam_deck_True,price<50,NoTag
13074,1599660,Sackboyâ„¢: A Big Adventure,win_True,mac_False,linux_False,Very Positive,positive_ratio_80,user_reviews1000,discount0,steam_deck_True,price>50,NoTag
13075,250900,The Binding of Isaac: Rebirth,win_True,mac_True,linux_True,Overwhelmingly Positive,positive_ratio_90,user_reviews100000,discount0,steam_deck_True,price<20,NoTag
13076,920210,LEGOÂ® Star Warsâ„¢: The Skywalker Saga,win_True,mac_False,linux_False,Very Positive,positive_ratio_90,user_reviews10000,discount0,steam_deck_True,price>50,NoTag
13077,1361510,Teenage Mutant Ninja Turtles: Shredder's Revenge,win_True,mac_False,linux_True,Very Positive,positive_ratio_90,user_reviews10000,discount0,steam_deck_True,price<20,NoTag

## **Users**

In [20]:
users = pd.read_csv('../data/raw/users.csv')
users

           user_id  products  reviews
0          7090995       359        0
1         13511788       156        1
2          8444727       329        4
3          4632233       176        3
4          4968781        98        2
...            ...       ...      ...
13786773   4852299         6        0
13786774   4852995         0        0
13786775   4863706        31        0
13786776   4878424         0        0
13786777   4885047         0        0

[13786778 rows x 3 columns]

Leave only users that interacted(recommended)

In [21]:
print(len(users))
users = users[users['user_id'].isin(user_ids)]
print(len(users))

13786778
12720

Number of games purchased by user

In [22]:
print(np.sort(users['products'].unique()))

bins = [0, 10, 50, 100, 200, 500, 1000, float('inf')]

labels = [
    'products<10',
    'products<50',
    'products<100',
    'products<200',
    'products<500',
    'products<1000',
    'products>1000'
]

users['products'] = pd.cut(users['products'], bins=bins, labels=labels, right=False)

[    4     8    12 ... 13247 14667 18317]

/var/folders/wp/ll6ymdkx1gg8l2vyp57k2r840000gn/T/ipykernel_44961/3023125814.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['products'] = pd.cut(users['products'], bins=bins, labels=labels, right=False)

Number of reviews written by user

In [23]:
print(np.sort(users['reviews'].unique()))

bins = [0, 10, 50, 100, 200, 500, 1000, 5000, float('inf')]

labels = [
    'reviews<10',
    'reviews<50',
    'reviews<100',
    'reviews<200',
    'reviews<500',
    'reviews<1000',
    'reviews<5000',
    'reviews>5000'
]

users['reviews'] = pd.cut(users['reviews'], bins=bins, labels=labels, right=False)

[ 20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37
  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55
  56  57  58  59  60  61  62  64  65  66  68  72  73  74  77  79  93 111]

/var/folders/wp/ll6ymdkx1gg8l2vyp57k2r840000gn/T/ipykernel_44961/2092194258.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['reviews'] = pd.cut(users['reviews'], bins=bins, labels=labels, right=False)

In [24]:
users

           user_id       products     reviews
108       10810521   products<500  reviews<50
1745       5984062  products<1000  reviews<50
1873       6365691  products<1000  reviews<50
3116       8459534  products>1000  reviews<50
3376       8869189   products<100  reviews<50
...            ...            ...         ...
13777380   1616561   products<100  reviews<50
13777984   1767137   products<100  reviews<50
13780841   2511017   products<100  reviews<50
13782400   2952064   products<500  reviews<50
13786428   4538785    products<50  reviews<50

[12720 rows x 3 columns]

## **Save everything**

In [25]:
merged.to_csv('../data/interim/games.csv')
users.to_csv('../data/interim/users.csv')
recs.to_csv('../data/interim/recs.csv')